
.alan-sans {
  --alan-weight: 400;
  font-family: "Alan Sans", sans-serif;
  font-weight: var(--alan-weight);
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
  background-color: #FFFFFF;
  color: #0D1321;
  line-height: 1.6;
}

header {
  background-color: #6197D9;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #0D1321;
}

section {
  padding: 1.5rem;
  border-bottom: 1px solid #B0CBEC;
}

ul {
  list-style-type: disc;
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

footer {
  background-color: #6197D9;
  color: #0D1321;
  text-align: center;
  padding: 1rem;
  position: relative;
  bottom: 0;
  width: 100%;
}


@media (max-width: 600px) {
  section {
    padding: 1rem;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
